*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background-color: black;
}

.header{
    background-color: black ;
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(254, 196, 112);
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(239, 183, 98);
  }

  .mainimage {
    background-image: url(../image/background.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .kotak{
    background-color: black;
    width: 100%;
    height: 5px;
  }

  .home{
      padding: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: justify;
      background-color: rgb(254, 196, 112);
  }

  .home h1{
      text-align: center;
  }

  .home p{
      font-size: 110%;
      margin-left: 200px;
      margin-right: 200px;
  }
  
  .kotak2{
    height: 150px;
    width: 100%;
    background-color: black;
  }
  